<h1>Classified#contact</h1>

<p>
Hi there!
Just wanted to let you know that your classified, <%= @title -%>, 
has an interested buyer. Their e-mail address is <%= @email %>.
They left you the following message:
<%= @message -%>
Thanks!
</p>
